html *{
	font-family: Verdana;
}

h1 {
	font-size: 30px;
}

h2 {
	font-size: 20px;
}

div.container {
    width: 100%;
    border: 1px solid gray;
}

header, footer {
    padding: 1em;
    color: white;
    background-color: black;
    clear: both;
    text-align: center;
}

nav {
	width: 80px;
    margin: 0;
    padding: 1em;
    background-color: rgb(200,200,200);
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}
   
nav ul a {
    text-decoration: none;
}

article {
    width: 70%;
    padding: 1em;
    overflow: hidden;
}

#guitarImages td {
	text-align: center;
}

.error {
	color: red;
	display: inline;
}

.tipShown:hover .tipHidden {
    visibility: visible;
}

.tipShown .tipHidden {
    visibility: hidden;
	color: gray;
}