<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <!-- polyfill -->
    <script src="../inc/shim/Base64.js" type="text/javascript"></script>
    <script src="../inc/shim/Base64binary.js" type="text/javascript"></script>
    <script src="../inc/shim/WebAudioAPI.js" type="text/javascript"></script>
    <!-- midi.js package -->
    <script src="../js/midi/audioDetect.js" type="text/javascript"></script>
    <script src="../js/midi/gm.js" type="text/javascript"></script>
    <script src="../js/midi/loader.js" type="text/javascript"></script>
    <script src="../js/midi/plugin.audiotag.js" type="text/javascript"></script>
    <script src="../js/midi/plugin.webaudio.js" type="text/javascript"></script>
    <script src="../js/midi/plugin.webmidi.js" type="text/javascript"></script>
    <!-- utils -->
    <script src="../js/util/dom_request_xhr.js" type="text/javascript"></script>
    <script src="../js/util/dom_request_script.js" type="text/javascript"></script>
    <script src="http://code.angularjs.org/1.2.0-rc.2/angular.min.js"></script>
    <script src="https://github.com/mudcube/MIDI.js" type="text/html"></script>
    <script type="text/javascript" src="guitarmodes.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>
    <link rel="stylesheet" href="guitarmodes.css"/>
  </head>
  <body ng-app="setup">
    <header>
      <h1>SpottyGuitarModes.com</h1>
    </header>
    <div ng-controller="SetupController">
      <div ng-show="showSetup">
        <article>
          <h1>Set Up</h1>
          <p>
            SpottyGuitarModes.com helps you practice guitar modes.
            When you click the 'Start Practice' button, guitar fret
			boards will show the fingerings required against the strings.
            The chords will be played on a piano.
          </p>
          <p>Choose settings then start practice at the bottom.</p>
          <h2>Key</h2>
          Select a key: 
          <select ng-model="key" ng-change="checkKey(key);">
            <option value="A"/>A
            <option value="B"/>B
            <option value="C"/>C
            <option value="D"/>D
            <option value="E"/>E
            <option value="F"/>F
            <option value="G"/>G
          </select>
          <div class="error">{{keyErrorText}}</div>
          <br>
          <input type="radio" id="radioNatural" name="accidental" value="natural" ng-model="accidental"> Natural<br>
          <input type="radio" id="radioSharp" name="accidental" value="sharp" ng-model="accidental"> Sharp<br>
          <input type="radio" id="radioFlat" name="accidental" value="flat" ng-model="accidental"> Flat<br>
          <h2>Mode</h2>
          Select a mode:
          <select ng-model="mode" ng-change="checkMode(mode)">
            <option value="ionian"/>Ionian
            <option value="dorian"/>Dorian
            <option value="phrygian"/>Phrygian
            <option value="lydian"/>Lydian
            <option value="mixolydian"/>Mixolydian
            <option value="aeolian"/>Aeolian
            <option value="locrian"/>Locrian
          </select>
          <div class="error">{{modeErrorText}}</div>
          <br>
          <h2>Time Signature</h2>
          Select number of crotchets per bar: 
          <select ng-model="timeSig" ng-change="checkTimeSig(timeSig);">
            <option value="2"/>2
            <option value="3"/>3
            <option value="4"/>4
          </select>
          <div class="error">{{timeSigErrorText}}</div>
          <br>
          <h2>Tempo</h2>
          <p>Enter the number of beats per minute: 
          <div class="error">{{tempoErrorText}}</div>
          <input ng-model="bpm" ng-change="checkBpm(bpm);"/></p><br>
          <h2>Chords</h2>
          Click a button to add a chord: 
          <div class="error">{{chordsErrorText}}</div>
          <button ng-click="addChord('I')">I</button>
          <button ng-click="addChord('II')">II</button>
          <button ng-click="addChord('III')">III</button>
          <button ng-click="addChord('IV')">IV</button>
          <button ng-click="addChord('V')">V</button>
          <button ng-click="addChord('VI')">VI</button>
          <button ng-click="addChord('VII')">VII</button>
          <button ng-click="clearChords()">Clear All</button>
          <br>
          <h3>Selected Chords:</h3>
          <ul>
            <li ng-repeat="x in chords track by $index">{{x}}
              <span class="tipShown" ng-click="removeItem($index)">
              ×
              <span class="tipHidden">
              Remove
              </span>
              </span>
            </li>
          </ul>
          <button ng-click="practice()">Start Practice</button>
        </article>
      </div>
      <div ng-hide="showSetup">
        <article>
          <h1>Practice</h1>
          <p>There will be a one bar count in (single note playing) before the chords start.</p>
          <p>
            Spots on the fret board (all colours) highlight the frets that make up the mode you are practicing.
            Each chord consists of a 'triad' - a given note with the third and fifth above it.
            Red spots highlight the first note. Yellow spots highlight the third and fifth notes. All the rest are blue.
          </p>
          <p>
            Chosen set-up: {{key}} {{accidental}}, {{mode}}, {{timeSig}} beats per bar, {{bpm}} beats per minute, chords: {{chords}}
          </p>
          <button ng-click="startPractice()" id="play">Play</button>
          <button ng-click="stop()" id="stop">Stop</button><br>
          Loop repeat<input type="checkbox" ng-model="loop" id="loop"><br>
          <button ng-click="setup()" id="setup">Back to Set Up</button><br>
          <button ng-click="flipH()" id="flipH">Flip Images Horizontally</button>
          <button ng-click="flipV()" id="flipV">Flip Images Vertically</button>
        </article>
        <div class="error">{{practiceErrorText}}</div>
        <br>
        <div align="center">
			<table width="1062" id="guitarImages">
				<tr>
					<th>Playing Now</th>
					<th>Up Next...</th>
				</tr>
				<tr>
				<td>
          <canvas id="canvas1" width="{{imageWidth}}" height="{{imageHeight}}"
            style="border: 1px solid #d3d3d3;">
            Your browser does not support the HTML5 canvas tag.
          </canvas>
				</td>
				<td>
          <canvas id="canvas1next" width="{{imageWidth}}" height="{{imageHeight}}"
            style="border: 1px solid #d3d3d3;">
            Your browser does not support the HTML5 canvas tag.
          </canvas>
				</td>
				</tr>
				<tr>
				<td>
          <canvas id="canvas2" width="{{imageWidth}}" height="{{imageHeight}}"
            style="border: 1px solid #d3d3d3;">
            Your browser does not support the HTML5 canvas tag.
          </canvas>
				</td>
				<td>
          <canvas id="canvas2next" width="{{imageWidth}}" height="{{imageHeight}}"
            style="border: 1px solid #d3d3d3;">
            Your browser does not support the HTML5 canvas tag.
          </canvas>
				</td>
				</tr>
				<tr>
				<td>
          <canvas id="canvas3" width="{{imageWidth}}" height="{{imageHeight}}"
            style="border: 1px solid #d3d3d3;">
            Your browser does not support the HTML5 canvas tag.
          </canvas>
				</td>
				<td>
          <canvas id="canvas3next" width="{{imageWidth}}" height="{{imageHeight}}"
            style="border: 1px solid #d3d3d3;">
            Your browser does not support the HTML5 canvas tag.
          </canvas>
				</td>
				</tr>
				<tr>
				<td>
          <canvas id="canvas4" width="{{imageWidth}}" height="{{imageHeight}}"
            style="border: 1px solid #d3d3d3;">
            Your browser does not support the HTML5 canvas tag.
          </canvas>
				</td>
				<td>
          <canvas id="canvas4next" width="{{imageWidth}}" height="{{imageHeight}}"
            style="border: 1px solid #d3d3d3;">
            Your browser does not support the HTML5 canvas tag.
          </canvas>
				</td>
				</tr>
				<tr>
				<td>
          <canvas id="canvas5" width="{{imageWidth}}" height="{{imageHeight}}"
            style="border: 1px solid #d3d3d3;">
            Your browser does not support the HTML5 canvas tag.
          </canvas>
				</td>
				<td>
          <canvas id="canvas5next" width="{{imageWidth}}" height="{{imageHeight}}"
            style="border: 1px solid #d3d3d3;">
            Your browser does not support the HTML5 canvas tag.
          </canvas>
				</td>
				</tr>
				<tr>
			</table>
        </div>
      </div>
    </div>
  </body>
</html>